<h1>ログイン</h1>

<%= form_with model: @session, local: true do |form| %>
    <%= flash[:danger] %>

    <div>
        <%= form.label :email, 'メールアドレス' %>
        
        <%= form.email_field :email, {class: "form-control"} %>
    </div>

    <div>
        <%= form.label :password, 'パスワード' %>
       
        <%= form.password_field :password, { class: "form-control"} %>
    </div>

    <div class="d-grid gap-2">
        <br>
        <%= form.submit 'ログイン', {class: "btn btn-primary"} %>
    </div>
<% end %>

<%= link_to "初めての方はこちらから！！", signup_path %>