<div class="blocktitle">
  <h1>お気に入り </h1>
</div>

<%#ホームアイコン%>
<%= link_to home_top_path do %>
  <%= image_tag "/images/home.png",{class: "homeicon"} %>
<% end %>
<br>

<style>
.example{
    display: inline-block;
}
.example img{
    display: block;
}
</style>

<table>
  <tbody>
    <% @favorites.each do |favorite| %>
      <tr>
          <td><%= link_to favorite.recipe.recipeTitle, recipes_details_path(id: favorite["id"])%></td>
          <td><%= link_to favorite.recipe.foodImageUrl, recipes_details_path(id: favorite["id"])%></td>
          <td><%= link_to '削除', favorite, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

