<p id="notice"><%= notice %></p>
<div class="blocktitle">
  <h1>お気に入り </h1>
</div>


<%= link_to home_top_path do %>
  <%= image_tag "/images/home.png",{class: "homeicon"} %>
<% end %>
<br>

<%#18行目までホームボタン%>
<style>
.example{
    display: inline-block;
}
.example img{
    display: block;
}
</style>

<h3 class="itiran">お気に入り一覧<h3>

<table>
  <tbody>
    <table class="sen">
      <% @favorites.each do |favorite| %>
        <tr>
          <td class="itiran1"><%= favorite.favorite %></td>
          <td class="itiran2"><%= link_to 'Show', favorite %></td>
          <td class="itiran2"><%= link_to 'Destroy', favorite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
  </tbody>
</table>

<br>

<%= link_to 'New', new_favorite_path %>
