<p id="notice"><%= notice %></p>
<div class="blocktitle">
  <h1>お気に入り <a href="http://localhost:3000/"><img class="absolute" width="50" src="images/home.png" alt="home"></a></h1>
</div>

<%#18行目までホームボタン%>
<style>
.example{
    display: inline-block;
}
.example img{
    display: block;
}
</style>

<h3 class="itiran">お気に入り一覧<h3>

<table>
  <tbody>
    <table class="sen">
      <% @favorites.each do |favorite| %>
        <tr>
          <td class="itiran1"><%= favorite.favorite %></td>
          <td class="itiran2"><%= link_to 'Show', favorite %></td>
          <td class="itiran2"><%= link_to 'Edit', edit_favorite_path(favorite) %></td>
          <td class="itiran2"><%= link_to 'Destroy', favorite, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </table>
  </tbody>
</table>

<br>

<%= link_to 'New', new_favorite_path %>
