<div class="blocktitle">
    <h1>レシピ詳細</h1>
</div>

<%#ホームアイコン%>
<%= link_to home_top_path do %>
  <%= image_tag "/images/home.png",{class: "homeicon"} %>
<% end %>
<br>

<div class="titlex">
    <%= @det.recipeTitle %><br>
</div>

<div class="imagex">
    <%= image_tag @det.foodImageUrl %><br>
</div>

<div class = "ninbun">
材料【<%= @elements_recipeYield %>人分】<br>
</div>

<center>
    <table class = "tablex">
    <% @elements_recipeIngredient.each do |txt|%>
    <tr>
        <td><%= txt %></td>
    </tr>
    <% end %>
    </table>
</center>

<div class="syousai">
    <%= link_to "詳しいレシピはこちらから", @det.recipeUrl, target: :_blank %>
</div>


<div class = "row">
    <% @rec.each do |data|%>
        <div class = "col-12 col-md-6">

            <div class ="cost">
                <%= link_to_unless_current data["recipeCost"]%>
            </div>
        </div>

        <% if data.favorites.blank? %>
            <%= form_with(model: @favorite) do |form| %>
                <%= form.hidden_field:recipe_id, value: data["id"]%>