<div class="blocktitle">
<h1>ブロック <a href="http://localhost:3000/"><img class="absolute" width="50" src="images/home.png" alt="home"></a></h1>
<h1>検索結果</h1>
<%#= @rec %>
<%#= @rec_foodImageUrl %>
<%#= @rec_recipeTitle %>
<%#= @rec_recipeIndication %>
<%#= @rec_recipeCost %>


<div class="row">
    <% @rec.each do |data| %>
            <div class="col-12 col-md-6">
                <div class="titlex">
                    <%= link_to_unless_current data["recipeTitle"]%>
                </div>

                <%= link_to recipes_details_path do %>

                    <div class="image">
                        <%= image_tag data["foodImageUrl"] %>
                    </div>

                <% end %>

                <div class="time">
                    <%= link_to_unless_current data["recipeIndication"]%>
                </div>

                <div class="cost">
                    <%= link_to_unless_current data["recipeCost"]%>
                </div>
            
            </div>
    <% end %>
</div>
