<div class="blocktitle">
    <h1>検索結果</h1>
</div>

<%#ホームアイコン%>
<%= link_to home_top_path do %>
  <%= image_tag "/images/home.png",{class: "homeicon"} %>
<% end %>
<br>
<br>

<div class="row">
    <% @rec.each do |data| %>
        <div class="col-12 col-md-6">

            <%= link_to recipes_details_path(id: data["id"]) do %>
                <div class="titlex">
                    <%= link_to_unless_current data["recipeTitle"]%>
                </div>
            <% end %>

            <%= link_to recipes_details_path(id: data["id"]) do %>
                <div class="image">
                    <%= image_tag data["foodImageUrl"] %>
                </div>
            <% end %>

            <div class="time">
                <%= data["recipeIndication"]%>
            </div><br>

            <div class="cost">
                <%= data["recipeCost"]%>
            </div>
        
            <% if data.favorites.blank? %>
                <%= form_with(model: @favorite) do |form| %>
                    <%= form.hidden_field:recipe_id, value: data["id"] %>

                    <div class="actionsf">
                        <%= form.submit %>
                    </div>
                <% end %>
            <% else %>
                <%= image_tag "/images/hoku.png",{class: "hosi"} %>
            <% end %>
        </div>
    <% end %>
</div>
<%if @rec.count == 0 %>
    <p>検索結果がありませんでした</p>
<% end %>




<%#= link_to home_top_path do %>
  <%#= image_tag "/images/home.png",{class: "homeicon"} %>
<%# end %>
