<div class="blocktitle">
    <h1>レシピ検索</h1>
</div>

<%#ホームアイコン%>
<%= link_to home_top_path do %>
  <%= image_tag "/images/home.png",{class: "homeicon"} %>
<% end %>
<br>

<div class="kensaku">
<%= form_tag(recipes_search_path) do %><br>
  <p>料理名</p>
  <%= text_field_tag "search[recipe]" %>
  <p>食材</p>
  <%= text_field_tag "search[recipe]" %>
  <p>調理時間</p>
  <%= select_tag "search[recipe]", options_for_select({"指定なし": 1, "5分以内": 2, "約10分": 3, "約15分": 4, "約30分": 5, "約1時間": 6, "1時間以上": 7}, 1), include_blank: true %>
  <p>費用</p>
  <%= select_tag "search[recipe]", options_for_select({"指定なし": 1,"100円以下": 2,"300円前後": 3, "500円前後": 4, "1,000円前後": 5, "2,000円前後": 6,"3,000円前後": 7, "5,000円前後": 8, "10,000円以上": 9}) %>
  <p>入れたくない食材</p>
  <%= text_field_tag "search[recipe]" %><br><br>
  <%= submit_tag "検索"%>
<% end %>
<br>