<div class="blocktitle">
    <h1>レシピ検索</h1>
</div>

<%#ホームアイコン%>
<%= link_to home_top_path do %>
  <%= image_tag "/images/home.png",{class: "homeicon"} %>
<% end %>
<br>


<%= form_tag(recipes_search_path) do %>
  <p>料理名</p>
  <%= text_field_tag "search[recipe]" %>
  <p>食材</p>
  <%= text_field_tag "search[recipe]" %>
  <p>調理時間</p>
  <%= select_tag "search[recipe]" %>
  <p>費用</p>
  <%= select_tag "search[recipe]" %>
  <p>入れたくない食材</p>
  <%= text_field_tag "search[recipe]" %><br>
  <%= submit_tag "検索"%>


  <%= select_tag 'name', options_for_select({"指定なし": 1, sample2: 2, sample3: 3}, 1), include_blank: true %>
  <%#= select　{調理時間: '指定なし','5分以内','約10分','約15分','約30分','約1時間','1時間以上'}%>
<% end %>
<br>

