<p id="notice"><%= notice %></p>

<h1>Categolies</h1>

<table>
  <thead>
    <tr>
      <th>Api-category</th>
      <th>Category1</th>
      <th>Category2</th>
      <th>Category3</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categolies.each do |categoly| %>
      <tr>
        <td><%= categoly.api-category %></td>
        <td><%= categoly.category1 %></td>
        <td><%= categoly.category2 %></td>
        <td><%= categoly.category3 %></td>
        <td><%= categoly.name %></td>
        <td><%= link_to 'Show', categoly %></td>
        <td><%= link_to 'Edit', edit_categoly_path(categoly) %></td>
        <td><%= link_to 'Destroy', categoly, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Categoly', new_categoly_path %>
