<p id="notice"><%= notice %></p>

<p>
  <strong>Api-category:</strong>
  <%= @categoly.api-category %>
</p>

<p>
  <strong>Category1:</strong>
  <%= @categoly.category1 %>
</p>

<p>
  <strong>Category2:</strong>
  <%= @categoly.category2 %>
</p>

<p>
  <strong>Category3:</strong>
  <%= @categoly.category3 %>
</p>

<p>
  <strong>Name:</strong>
  <%= @categoly.name %>
</p>

<%= link_to 'Edit', edit_categoly_path(@categoly) %> |
<%= link_to 'Back', categolies_path %>
