<h1 class="title">利用者登録</h1>

<%= form_with model: @user, url: signup_path, local: true do |form| %>
    <%if @user.errors.any? %>
        <strong><%= @user.errors.count %>個のエラーがあります。</strong>
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>
    <div>
        <%= form.label :name, '名前' %>
        <br>
        <%= form.text_field :name,{class: "form-control"} %>
    </div>

    <div>
        <%= form.label :email, 'メールアドレス' %>
        <br>
        <%= form.email_field :email,{class: "form-control"} %>
    </div>

    <div>
        <%= form.label :password, 'パスワード' %>
        <br>
        <%= form.password_field :password,{class: "form-control"} %>
    </div>

    <div>
        <%= form.label :password_confirmation, 'パスワード(確認)' %>
        <br>
        <%= form.password_field :password_confirmation,{class: "form-control"} %>
    </div>

    <div>
        <br>
        <%= form.submit '登録' %>
    </div>
<% end %>