<h1 class="title">Let's Help Cook</h1>

<div class="row">
    <div class="col-12 col-md-6">
      <%= link_to recipes_search_path do %>
      <div class="card">
        <%= image_tag "/images/search.png",{class: "card-image-top"} %>
        <div class="card-body">
          <h3 class="card-title">レシピ検索</h3>
          <p class="card-text">aaaaaaa</p>
        </div>
      </div>
      <%end%>
    </div>
    
    <div class="col-12 col-md-6">
      <%= link_to favorites_path do %>
      <div class="card">
        <%= image_tag "/images/favo.png",{class: "card-image-top"}%>
        <div class="card-body">
          <h3 class="card-title">お気に入り</h3>
          <p class="card-text">bbbbbbb</p>
        </div>
      </div>
      <%end%>
    </div>
</div>



<div class="row">
   <div class="col-12 col-md-6">
      <%= link_to blocks_path do %>
      <div class="card">
        <%= image_tag "/images/batsu_l.png",{class: "card-image-top"} %>
        <div class="card-body">
          <h3 class="card-title">ブロック</h3>
          <p class="card-text">bbbbbbb</p>
        </div>
      </div>
      <%end%>
    </div>

    <div class="col-12 col-md-6">
      <%= link_to shoppings_path do %>
      <div class="card">
        <%= image_tag "/images/shopping3_l.png",{class: "card-image-top"} %>
        <div class="card-body">
          <h3 class="card-title">買い物</h3>
          <p class="card-text">bbbbbbb</p>
        </div>
      </div>
      <%end%>
    </div>
</div>