<%= form_with(model: block) do |form| %>
  <% if block.errors.any? %><br>
  <div id="error_explanation">
    <ul class="era">
        <% block.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
     </ul>
   </div>
  <% end %>


  <div class="field">
    <%= form.label :block %>
    <%= form.text_field :block %>
  </div>

  <!--div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div-->

  <div class="actionsb">
    <%= form.submit %>
  </div>
<% end %>
