<p id="notice"><%= notice %></p>
<div class="blocktitle">
<h1>ブロック <a href="http://localhost:3000/"><img class="absolute" width="50" src="images/home.png" alt="home"></a></h1>
</div>

<%#19行目までホームボタン%>
<style>
.example{
    display: inline-block;
}
.example img{
    display: block;
}
</style>
    
<div class="itiran">ブロック一覧</div>

<table>
  <tbody>
    <table class="sen">
    <% @blocks.each do |block| %>
      <tr>
        <td class="itiran1"><li><%= block.block %></li></td>
        <td class="itiran2"><%= link_to '詳細', block %></td>
        <td class="itiran2"><%= link_to '編集', edit_block_path(block) %></td>
        <td class="itiran2"><%= link_to '削除', block, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
    </table>
  </tbody>


<br>

<%= link_to 'ブロック追加', new_block_path %>

