<p id="notice"><%= notice %></p>
<div class="blocktitle">
<h1>ブロック</h1>
</div>

<%#ホームアイコン%>
<%= link_to home_top_path do %>
  <%= image_tag "/images/home.png",{class: "homeicon"} %>
<% end %>
<br>

<table>
  <tbody>
    <% @blocks.each do |block| %>
      <tr>
        <td><li><%= block.block %></li></td>
        <td><%= link_to '詳細', block %></td>
        <td><%= link_to '編集', edit_block_path(block) %></td>
        <td><%= link_to '削除', block, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
    </table>
    <%= image_tag "/images/kirai.png",{class: "kirai"} %>
  </tbody>
</table>


<br>

<%= link_to 'ブロック追加', new_block_path %>

