<h1>利用者登録</h1>

<%= form_with model: @user, url: signup_path, loval: true do |form| %>
    <%if @user.errors.any? %>
        <strong><%= @user.errors.count %>個のエラーがあります。</strong>
        <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    <% end %>

    <%= form.lobel :email, 'メールアドレス' %>
    <%= form.email_field :email%>

    <%= form.label :password, 'パスワード' %>
    <%= form.password_field :password %>

    <%= form.labe :password_confirmation, 'パスワード(確認)' %>
    <%= form.password_field :password_confirmation %>

    <%= form.submit '登録' %>
<% end %>