<p id="notice"><%= notice %></p>
<div class="blocktitle">
  <h1>買い物リスト</h1>
</div>

<%#ホームアイコン%>
<%= link_to home_top_path do %>
  <%= image_tag "/images/home.png",{class: "homeicon"} %>
<% end %>
<br>

<table>
  <tbody>
    <% @shoppings.each do |shopping| %>
      <tr>
        <td><li><%= shopping.buy %></li></td>
        <td><%= link_to '詳細', shopping %></td>
        <td><%= link_to '編集', edit_shopping_path(shopping) %></td>
        <td><%= link_to '削除', shopping, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '購入品の追加', new_shopping_path %>
