<p id="notice"><%= notice %></p>
<div class="blocktitle">
<h1>買い物リスト <a href="http://localhost:3000/"><img class="absolute" width="50" src="images/home.png" alt="home"></a></h1>
</div>

<%#19行目までホームボタン%>
<style>
.example{
    display: inline-block;
}
.example img{
    display: block;
}
</style>

<table>
  <thead>
    <tr>
      <th class="itiran">食材一覧</th>

      <%#><th>Buy</th>
      <th>User</th></%>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @shoppings.each do |shopping| %>
      <tr>
        <td class="itiran1"><li><%= shopping.buy %></li></td>
        <td class="itiran1"><%= link_to '詳細', shopping %></td>
        <td class="itiran1"><%= link_to '編集', edit_shopping_path(shopping) %></td>
        <td class="itiran1"><%= link_to '削除', shopping, method: :delete, data: { confirm: '本当に削除しますか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '食材追加', new_shopping_path %>
