<p id="notice"><%= notice %></p>

<p>
  <strong>Buy:</strong>
  <%= @shopping.buy %>
</p>

<p>
  <strong>Memo:</strong>
  <%= @shopping.memo %>
</p>


<%= link_to '編集', edit_shopping_path(@shopping) %> |
<%= link_to '戻る', shoppings_path %>
