<p id="notice"><%= notice %></p>

<p>
  <strong>購入品:</strong>
  <%= @shopping.buy %>
</p>

<p>
  <strong>メモ:</strong>
  <%= @shopping.memo %>
</p>

<% unless @shopping.recipe_id.nil? %>
  <p>
    <strong>レシピ:</strong>
    <%= link_to @shopping.recipe.recipeTitle,recipes_details_path(id: @shopping.recipe_id)%>
  </p>
<% end %>

<%= link_to '編集', edit_shopping_path(@shopping) %> |
<%= link_to '戻る', shoppings_path %>
